MONGODB_URI=mongodb+srv://admin1:admin@cluster1.3u5vmm7.mongodb.net/?appName=Cluster1
PORT=8080
GLOBAL_SERVER_URL=

# If you want to forward data to a global endpoint, set GLOBAL_SERVER_URL.
# Example: GLOBAL_SERVER_URL=https://global.example.com/api/readings
